<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.university.mapper.LectureMapper">

   <!-- 개설 교과 목록 -->
   <select id="getList" resultType="com.university.model.LectureVO">
      select * from lecture    <!-- lpad(lecture_code, 4, 0) -->
      <if test="keyword != null">
         <foreach collection="typeArr" item="type">
               <choose>
                  <when test="type == 'N'.toString()">
                     where lecture_name like '%'||#{keyword}||'%'
                  </when>
                  <when test="type == 'T'.toString()">
                     where lecture_time like '%'||#{keyword}||'%'
                  </when>
                  <when test="type == 'P'.toString()">
                     where professor_name like '%'||#{keyword}||'%'
                  </when>
                  <when test="type == 'C'.toString()">
                     where classroom like '%'||#{keyword}||'%'
                  </when>
                  <when test="type == 'G'.toString()">
                     where grade like '%'||#{keyword}||'%'
                  </when>
               </choose>
         </foreach>
      </if>
   </select>
   
   <!-- 나의 강의 정보 가지고 오기 -->
   <select id="getStudent_lectureList" resultType="com.university.model.StudentLectureVO">
		select * from student_lecture where lecture_code=#{lecture_code}
	</select> 
      
   <!-- 강의 선택 후 장바구니 담기 -->
   <insert id="addLecture">
      insert into basket(id, lecture_code, lecture_name, professor_name, grade, classroom, lecture_time, lecture_year, semester, student_full, credit)
            values (#{id}, #{lecture_code}, #{lecture_name}, #{professor_name}, #{grade}, #{classroom}, #{lecture_time}, #{lecture_year}, #{semester}, #{student_full}, #{credit})
   </insert>
   
   <!-- 장바구니에 담은 강의 목록 삭제하기 -->
   <delete id="deleteLecture">
       delete from basket where id = #{id} and lecture_code = #{lecture_code}
   </delete>
   
   <!-- 장바구니에 담은 강의 목록 불러오기 -->
   <select id="getLecture" resultType="com.university.model.BasketVO">
       select * from basket where id = #{id}
   </select>
   
   <!-- 나의 강의 목록 담기 -->
   <insert id="addMyList">
      insert into student_lecture (id, lecture_code) values (#{id}, #{lecture_code})
   </insert>
   
   <!-- 나의 강의 목록 삭제하기 -->
   <delete id="deleteMyList">
       delete from student_lecture where id = #{id} and lecture_code = #{lecture_code}
   </delete>
   
</mapper>