<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.university.mapper.StudentMapper">
<select id="getStudent_Img" resultType="com.university.model.Student_ImgVO">
   select * from student_img where id = #{id}
</select>


   <insert id = "insert_student_img">
      insert into student_img(id, regDate, created_by, img_name, img_url, ori_img_name) values (#{id}, sysdate, '관리자', #{img_name}, #{img_url}, #{ori_img_name})
   </insert>
   
   <update id="update_student_img">
      update student_img set updateDate = sysdate, modified_by=#{id}, img_name=#{img_name}, img_url=#{img_url}, ori_img_name=#{ori_img_name}
   </update>
   
   <select id = "getDepartList" resultType="com.university.model.DepartmentVO">
      select * from department
   </select>
   
   <update id="pwChange">
   update student set password=#{password} where id=#{id}
   </update>
   
   <select id="getInfo">
      select * from student where id=#{id}
   </select>
   
   <update id="modifyInfo">
   update student set academic_status=#{academic_status}, post=#{post}, address_1=#{address_1}, address_2 = #{address_2}, email = #{email}, phone=#{phone} where id = #{id}
   </update>
   
   <select id="delete_existing_img" resultType="String">
   select img_name from student_img where id = #{id}
   </select>
   
   <select id="getBasketList" resultType="com.university.model.BasketVO">
   select * from basket where id = #{id} 
   </select>
   
   <select id = "getStudentLectureList" resultType="com.university.model.StudentLectureVO">
   select * from student_lecture where id = #{id} and lecture_year=#{lecture_year} and semester not in #{semester}
   </select>
   
   <select id = "getStudentLectureCount" resultType="int">
   select count(*) from student_lecture where id = #{id}
   </select>
   
</mapper>