@charset "UTF-8";

.flex {
    display: -webkit-box; 
}
.underline {
    text-decoration: underline;
    border:none;
    background-color:transparent;
}

/* notice */
.notice-table {
    width: 1525px;
}
.float-wrap{
   width:100%;   
   display:inline;
}
.btnX{
   background-color: white;
}
.notice-table-head {
       /*background-color: #f6f6f6;*/
    background-color: #dedede;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 11px 0;
}
.notice-table-head__content {
    width: 1000px;
    font-size: 16px;
    color: #000;
    display:table-cell;
    text-align:center;
   
}
.notice-table-head__num {
    width: 150px;
     /*width: 100%;*/
    font-size: 16px;
    color: #000;
    display:table-cell;
    text-align:center;
  
}

.notice-table-head__writer {
    width: 200px;
     /*width: 100%;*/
    font-size: 16px;
    color: #000;
    display:table-cell;
    text-align:center;
    
}
.notice-table-head__date {
    width: 300px;
     /*width: 100%;*/
    font-size: 16px;
    color: #000;
    display:table-cell;
    text-align:center;
  
}

.notice-table-body{
   padding-left: 0;
}

.notice-table-body__item {
    width: 100%;
    border-bottom: 1px solid #c6c6c6;    
    list-style:none;    
}

.notice__item {
    
}
.notice-list__item {
    padding: 18px 22px 16px;
    font-size: 13px;
    letter-spacing: -0.33px;
    color: #000;  
    
      
}
.notice-list__num {
    width: 150px;
}
.notice__num {
    text-align:center;
}
/*제목*/
.notice-list__subject {
   width:900px;
   text-align:center;
}
.notice-list__writer{
   width: 210px;
    text-align:center;
}
.notice-list__date{
   width: 260px;
    text-align:center;
}

.notice-subject {
    position: relative;
}
.back-list-btn {
    margin-top: 80px;
}
.notice-list {
    cursor: pointer;
}
.notice__item {
    position: relative;
}
.notice-view {
    display: none;
}
.notice-empty {
    text-align: center;
    padding: 224.5px 0;
}


@media (min-width: 1101px) {

    .notice-contents[data-index] .notice-table-body__item {
        border: 0;
    }
    .notice-contents[data-index] .notice-table-head,
    .notice-contents[data-index] .notice-list__num {
        display: none;
    }
    .notice-contents[data-index] .notice-list {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .notice-contents[data-index] .notice__item .notice-list__subject {
        width: 100%;
        padding: 13px 0 12px;
    }
    .notice-contents[data-index] .notice__item .notice__title {
        font-weight: 600;
    }
    .notice-contents[data-index] .notice-view .notice-view__item {
        padding: 60px 0;
    }
    .notice-contents[data-index] .notice-list {
        display: none;
    }
    /*.notice-contents[data-page="detail"] .notice-view {*/
    /*    display: block;*/
    /*}*/

    .notice-contents[data-index] .common-pagenation {
        display: none;
    }


    .notice-contents[data-index] .notice-list.is-open {
        display: block;
    }
    .notice-view.active {
        display: block;
    }
}

@media (max-width: 1100px) {
    
    /* notice */
    .notice-list__subject {
        width: 100%;
       
        
    }
    .notice-subject {
        flex-direction: column;
    }
    .notice-subject::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8.707px;
        height: 5.061px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.707' height='5.061' viewBox='0 0 8.707 5.061'%3E%3Cpath fill='none' stroke='%23000' d='M-1715.783 4188.551l4 4 4-4' transform='translate(1716.137 -4188.197)' /%3E%3C/svg%3E");
        -webkit-transition: transform 0.6s ease;
        transition: transform 0.6s ease;
    }
    .is-open .notice-subject::after {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .notice__date {
        font-size: 10px;
        letter-spacing: -0.25px;
        
    }
    .notice__cont {
        padding: 12px 0 14px;
    }
    .notice-list.is-open {
        position: relative;
        border-bottom: 0;
    }
    .notice-view__item {
        margin: 0 22px;
        padding: 30px 0;
        border-top: 1px solid #e0e0e0;
    }
}