@charset "UTF-8";

/* Accordion */
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.accordion-box {
	width: 100%;
	margin: 0 auto;
}

.contents {
	padding: 20px;
	display: none;
}

/* score */
.float-wrap {
	width: 100%;
	display: inline;
}

.student_list-table-head {
	background-color: #dedede;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 11px 0;
	width: 100%;
}

.student_list-table-body {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 11px 0;
	width: 100%;
}

.student_list_body_row:hover {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 11px 0;
	width: 100%;
	height: 50px;
	background: #a2e4b8;
}

/* head */
.student_list-table-head__id {
	width: 250px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__name {
	width: 250px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__depart_name {
	width: 250px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell; 
}

.student_list-table-head__academic_status {
	width: 250px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__score_avg {
	width: 250px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__credit_full {
	width: 250px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

/* Accordion */
.student_list-table-head__lecture_name {
	width: 300px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__professor_name {
	width: 300px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__midterm_exam {
	width: 300px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__final_exam {
	width: 300px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

.student_list-table-head__lecture_year {
	width: 300px;
	text-align: center;
	font-size: 16px;
	color: #000;
	display: table-cell;
}

/* body */
.student_list-table-body__id {
	width: 250px;
	text-align: center;
	font-size: 16px;
	display: table-cell;
	border-bottom: 1px solid #c6c6c6;
}

.student_list-table-body__name {
	width: 250px;
	text-align: center;
	font-size: 16px;
	display: table-cell;
	border-bottom: 1px solid #c6c6c6;
}

.student_list-table-body__depart_name {
	width: 250px;
	text-align: center;
	font-size: 16px;
	display: table-cell;
	border-bottom: 1px solid #c6c6c6;
}

.student_list-table-body__academic_status {
	width: 250px;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #c6c6c6;
	display: table-cell;
}

.student_list-table-body__score_avg {
	width: 250px;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #c6c6c6;
	display: table-cell;
}

.student_list-table-body__credit_full {
	width: 250px;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #c6c6c6;
	display: table-cell;
}

/* Accordion */
.student_list-table-body__lecture_name {
	width: 300px;
	text-align: center;
	font-size: 16px;
	display: table-cell;
	border-bottom: 1px solid #c6c6c6;
}

.student_list-table-body__professor_name {
	width: 300px;
	text-align: center;
	font-size: 16px;
	display: table-cell;
	border-bottom: 1px solid #c6c6c6;
}

.student_list-table-body__midterm_exam {
	width: 300px;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #c6c6c6;
	display: table-cell;
}

.student_list-table-body__final_exam {
	width: 300px;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #c6c6c6;
	display: table-cell;
}

.student_list-table-body__lecture_year {
	width: 300px;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #c6c6c6;
	display: table-cell;
}
