@charset "UTF-8";
/* lecture_list */
.lecture_list-table {
   width: 100%;
}

.float-wrap {
   width: 100%;
   display: inline;
}

.my_lecture-table-head {
   background-color: #dedede;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   padding: 11px 0;
   width: 100%;
   
}

.my_lecture-table-body {
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   padding: 11px 0;
   width: 100%;
}

.my_lecture-table-head__depart_code {
   width: 100px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}

.my_lecture-table-head__depart_name {
   width: 550px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}

.my_lecture-table-head__professor_name {
   width: 100px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}

.my_lecture-table-head__lecture_time {
   width: 280px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}

.my_lecture-table-head__classroom {
   width: 250px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   
}

.my_lecture-table-head__midterm_exam {
   width: 80px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}

.my_lecture-table-head__final_exam {
   width: 80px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}

.my_lecture-table-head__credit_full{
   width: 200px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}

.my_lecture-table-head__score_avg{
      width: 83px;
   text-align: center;
   font-size: 16px;
   color: #000;
   display: table-cell;
   
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
}



.my_lecture-table-body__depart_code{
   width: 100px;
   text-align: center;
   font-size: 16px;
   border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   color: #000;
   display: table-cell;
}


.my_lecture-table-body__depart_name {
   width: 550px;
   padding: 0 40px;
   font-size: 16px;
   border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   display: table-cell;
   text-align: center;
}

.my_lecture-table-body__professor_name {
   width: 100px;
   font-size: 16px;   
   display: table-cell;
   border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   text-align: center;
}

.my_lecture-table-body__lecture_time {
   width: 280px;
   font-size: 16px;
   display: table-cell;
   border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   text-align: center;
}

.my_lecture-table-body__classroom {
   width: 250px;
   font-size: 16px;
   display: table-cell;
   border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   text-align: center;
}

.my_lecture-table-body__midterm_exam {
  width: 80px;
   font-size: 16px;
   display: table-cell;
   border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   text-align: center;
}

.my_lecture-table-body__final_exam {
  width: 80px;
   font-size: 16px;
   display: table-cell;
   border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   text-align: center;
}

.my_lecture-table-body__credit_full{
width: 12.5%;
   font-size: 16px;
   display: table-cell;
   border-bottom: 1px solid #c6c6c6;
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   text-align: center;
}

.my_lecture-table-body__score_avg{
   width: 83px;
   font-size: 16px;
   display: table-cell;
   border-bottom: 1px solid #c6c6c6;
   border-right: 1px solid #c6c6c6;
   border-left: 1px solid #c6c6c6;
   text-align: center;
}

/*
.lecture_list-table-head__item--content {
    width: calc(100% - 318px);
    display:table-cell;
}
.lecture_list-table-body__item {
    width: 100%;
    width: 159px;    
    padding: 0 40px;
    font-size: 16px;
    border-bottom: 1px solid #c6c6c6;
    display : table-cell;
}*/
